[submodule "dogechia-blockchain-gui"]
	path = dogechia-blockchain-gui
	url = https://github.com/DogeChia/dogechia-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
